{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Blog</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	</head>
	<body class="is-preload">

    <div id="wrapper">

        <div id="main">
            <div class="inner">

                <header id="header">
                    <strong>Blog</strong>
                </header>

                <section>
                    <header class="main">
                        <h1>Coming soon</h1>
                    </header>
                    <p>Coming soon . . .</p>

                </section>

            </div>
        </div>

        <div id="sidebar">
            <div class="inner">

                <section id="search" class="alt">
                    <form method="post" action="#">
                        <input type="text" name="query" id="query" placeholder="Search" />
                    </form>
                </section>

                <nav id="menu">
                    <header class="major">
                        <h2>Menu</h2>
                    </header>
                    <ul>
                        <li><a href="{% url 'index' %}">Homepage</a></li>
                        <li><a href="{% url 'ceaser' %}">Ceaser Cipher</a></li>
                        <li><a href="{% url 'hill' %}">Hill Cipher</a></li>
                        <li><a href="{% url 'vernam' %}">Vernam Cipher</a></li>
                        <li><a href="{% url 'transportation' %}">Transportation Cipher</a></li>
                        <li><a href="{% url 'file' %}">File Encryption</a></li>
                        <li><a href="{% url 'image' %}">Image Encryption</a></li>
                        <li><a href="{% url 'video' %}">Video Encryption</a></li>
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                    </ul>
                </nav>
                <section>
                    <header class="major">
                        <h2>Contact</h2>
                    </header>
                    <ul class="contact">
                        <li class="fa-envelope-o"><a href="#">badhonngc@gmail.com</a></li>
                        <li class="fa-phone">+8801795568556</li>
                        <li class="fa-home">G.M. Bari, Uttar Badda<br />
                            Dhaka 1212</li>
                    </ul>
                </section>

            </div>
        </div>

    </div>

    </body>

</html>
